@page "/Account/Login"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Log In</PageTitle>

<h1>Log In</h1>
<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You are logged in as @context.User.Identity?.Name</div>
    </Authorized>
    <NotAuthorized>
        <LoginForm></LoginForm>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var x = 0;
            }
            catch (Exception ex)
            {
                var x = 0;
            }
            finally
            {
                var x = 0;
                StateHasChanged();
            }
        }
    }
}
