@page "/Account/Login"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Log In</PageTitle>

<h1>Log In</h1>
<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You are logged in as @context.User.Identity?.Name</div>
    </Authorized>
    <NotAuthorized>
        <LoginForm></LoginForm>
    </NotAuthorized>
</AuthorizeView>

@code {
    
}
